body {
  background: #ce3bd0;
  font-family: Arial, sans-serif;
}
.container {
  width: 300px;
  background: #df98e6;
  padding: 30px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: 0 0 20px #510285;
}
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #df98e6;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #45a049;
}
a {
  color: #4CAF50;
  cursor: pointer;
  text-decoration: none;
}
